*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    min-height: 100dvh;
    background-color: #313642;
}

.container {
    position: relative;
}

.letter {
    position: relative;
    top: 50px;
    cursor: pointer;
    transition: transform .6s ease;
}

.letter:hover {
    transform: translateY(50px);
}

.cover {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #C84F3D;
}

.cover::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 105px solid #C84F3D;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    top: -104px;
    left: 0;
    transform-origin: bottom center;
    transform: rotateX(-180deg);
    transition: transform .3s ease .6s;
    overflow: auto;
    z-index: 9;
}


.letter:hover .cover::before {
    transform: rotateX(0deg);
    transition-delay: 0s;
    z-index: 7;
}

.card-container {
    position: relative;
    width: 300px;
    height: 500px;
    top: -310px;
    overflow: hidden;
}

.card {
    position: absolute;
    width: 250px;
    height: 280px;
    background: #fff;
    left: 25px;
    top: 410px;
    transform-origin: top;
    transition: transform .3s ease .3s;
    z-index: 10;
}

.letter:hover .card {
    transform: translateY(-230px);
    transition-delay: .3s;
}

.head {
    height: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.parallelogram {
    background-color: #C56B6E;
    height: initial;
    width: 20px;
    transform: skew(-40deg);
}

.body {
    height: 100%;
    padding: 10px;
}

.rectangle_top {
    background-color: #C56B6E;
    width: 100px;
    height: 18px;
    margin-top: 6px;
}

.rectangle_bottom {
    background-color: #C56B6E;
    width: 50px;
    height: 18px;
    margin-top: 16px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EECFCE;
    transform: translate(170px, 60px);
}

.front {
    position: absolute;
    border-left: 150px solid #E1514B;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
    top: 1px;
    left: 0;
    width: 0;
    height: 0;
    z-index: 99;
}

.front::before {
    position: absolute;
    content: "";
    border-right: 300px solid #E85F57;
    border-top: 200px solid transparent;
    right: -150px;
    top: -101px;
}

.shadow {
    position: absolute;
    width: 290px;
    height: 10px;
    border-radius: 40%;
    background-color: rgba(0, 0, 0, 0.35);
    bottom: -180px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.4);
    transition: width .3s linear;
}

.letter:hover~.shadow {
    width: 200px;
}