@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-h-color: #4399DC;
    --h-color: #575757;
    --f-color: #5e5e5e;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ccc;
}

.main {
    max-width: 700px;
    margin: 0 auto;
}

nav {
    margin-top: 50px;
    background-color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    padding: 6px;
    outline: 1px solid #e8e8e8;
}

nav ul li label {
    display: block;
    padding: 14px 14px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--f-color)
}

nav ul li label:hover {
    background-color: var(--bg-h-color);
    color: #fff;
}

.radio:checked~label {
    background-color: var(--bg-h-color);
    color: #fff;
}

.body {
    background-color: #fff;
    padding: 24px;
    overflow-x: scroll;
    transform-origin: top center;
    transform: perspective(700px) rotateX(-45deg) translateY(1px);
}

.body .heading {
    font-size: 3rem;
    color: var(--h-color);
}

.body .des {
    font-size: 1.4rem;
    line-height: 1.4;
}

.card {
    max-width: 700px;
    height: inherit;
    display: none;
}

#Simples {
    display: block;
}

#Simples:hover {
    display: block;
    transform: perspective(700px) scale3d(1.5) rotateX('30deg');
}

.card:target {
    display: block;
}

.card:not(:target) {
    display: none !important;
}