/* Global reset and box-sizing */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Base styles for the html element */
html {
    font-size: 62.5%;
    /* 1rem = 10px */
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Base font size for the body */
body {
    font-size: 1.4rem;
    /* 14px */
}

/* Styles for the main container */
.main {
    display: block;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}

/* Styles for each card */
.card {
    margin-top: 8px;
}

/* Styles for the label card heading */
label {
    padding: 8px 14px;
    background-color: rgb(255, 124, 77);
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Styles for the card heading */
.card__heading {
    display: inline-block;
    font-weight: 400;
}

/* Styles for the card heading before element */
.card__heading::before {
    content: "+";
    font-weight: 800;
    font-size: 2rem;
    padding-right: 8px;
    min-width: 20px;
    display: inline-block;
}

/* Change content when input checked */
input[type="checkbox"]:checked~label h3::before {
    content: "-";
}

/* Styles for the card body */
.card__body {
    padding: 16px;
    display: none;
}

/* Display the card body when input checked */
input[type="checkbox"]:checked~.card__body {
    display: block;
}