*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
}

.none {
    display: none !important;
}

.main {
    display: block;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    margin-top: 8px;
}

.card__head {
    padding: 8px 14px;
    background-color: rgb(255, 124, 77);
    color: #fff;
    cursor: pointer;
}

.card__btn {
    font-size: 2rem;
    font-weight: bolder;
    display: inline-block;
}

.card__heading {
    padding-left: 8px;
    display: inline-block;
    font-weight: 400;
}

.card__body {
    padding: 16px;
}