* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-weight: 500;
    letter-spacing: 0.6px;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: block;
}

.card__list {
    list-style: none;
}

img {
    width: 16px;
    padding-right: 4px;
}

p {
    font-size: 2rem;
    display: inline-block;
    font-weight: 500;
}