/* Universal selector to reset padding, margin, and box-sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/* Setting default styles for the HTML element */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-weight: 500;
    letter-spacing: 0.6px;
}

/* Main container styling */
.main {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: block;
}

/* Removing default list styling for card list */
.card__list {
    list-style: none;
}

/* Margin for card item */
.card__item {
    margin-top: 4px;
}

/* Styling for images inside card items */
img {
    width: 16px;
    padding-right: 4px;
}

/* Styling for paragraph text inside card items */
span {
    font-size: 2rem;
    display: inline-block;
    font-weight: 500;
}

/* Styling for list style inside card item */
span::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 1px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    background: url('./confused.png') no-repeat center center;
    background-size: contain;
}