:root {
    /* Define custom properties (CSS variables) for colors */
    --bg-color: #334455;
    --og-color: #ffa500;
    --y-color: #f8db35;

}

/* Global styles and box-sizing settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/* Base settings for the HTML document */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 0.6px;
}

/* Main container styling */
.main {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: block;
}

/* Card component styling */
.card {
    background-color: var(--bg-color);
    margin-top: 5px;
    border-radius: 8px;
    padding: 28px 34px 20px;
    color: #fff;
}

/* Placeholder styling when card is hovered */
.card:hover .input__text::placeholder {
    color: var(--og-color);
}

/* Placeholder styling when card is hovered */
.card:hover .input__text {
    border-color: var(--og-color);
    outline: none;
    background-color: #ddd;
}

/* Placeholder styling when card is hovered */
.card:hover .input__btn {
    background-color: var(--og-color);
    color: #fff;
}

/* Card header styling */
.card__header {
    font-size: 2.6rem;
}

/* Highlighted text within the card header */
.card__header>span {
    color: var(--og-color);
}

/* Card description styling */
.card__des {
    font-size: 1.4rem;
    line-height: 1.6;
    padding-top: 12px;
}

/* Input section within the card */
.card__input {
    padding-top: 12px;
}

/* Shared styling for input fields and button */
.input__btn,
.input__text {
    border-radius: 4px;
    padding: 12px;
    border: 1px solid;
    font-size: 1.6rem;
}

/* Text input field styling */
.input__text {
    min-width: 268px;
    border: 1px solid #ccc;
}

/* Hover effect for the text input field */
.input__text {
    color: #ddd;
}

/* Button styling */
.input__btn {
    font-weight: 700;
    min-width: 218px;
    background-color: var(--y-color);
    border: 1px solid #807f48;
    margin-left: 4px;
}